
/*buttons*/
.blackButton {
    -fx-background-color: white;
    -fx-border-width: .2em;
    -fx-border-color:  black;
    -fx-text-fill: black;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-family: "Open Sans Bold"
}
.blackButton:hover{
    -fx-background-color: #012D5A;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
.requestButton{
    -fx-font-size:36px;
    padding: 10px 20px 10px 20px;
}
.whiteButton {
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-width: .2em;
    -fx-border-color: #ffffff;
    -fx-text-fill: #ffffff;
    -fx-text-size: 26px;
    -fx-background-radius: 5px;
    -fx-border-width: .2em;
    -fx-border-radius: 5px;
    -fx-font-family: "Open Sans Bold";
}
.whiteButton:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-family: "Open Sans Bold";
    -fx-cursor: hand;
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane {
    -fx-background-color: transparent;
}
.logoutButton{
    -fx-background-color: transparent;
    -fx-border-width: .2em;
    -fx-border-color: #ffffff;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-family: "Open Sans Bold";
    -fx-font-size: 18pt;
}
.logoutButton:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: #ffffff;
    -fx-cursor: hand;
}

.hoverIcon:hover{
    -fx-cursor: hand;
    -fx-opacity: 0.6;
}

.mainBlock{
    -fx-font-family: "Open Sans Bold";
    -fx-background-color:"white";
    -fx-background-radius:5;
}
.mainBlock:hover{
    -fx-font-family: "Open Sans Bold";
    -fx-cursor:hand;
    -fx-opacity:0.8;
    -fx-translate-y: -7;
}
.pane{
    -fx-background-color: white;
    -fx-background-radius: 5px;
}

.bigButton{
    -fx-background-color: transparent;
    -fx-border-width: .2em;
    -fx-border-color: #ffffff;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-family: "Open Sans Bold";
    -fx-font-size: 18pt;
}
.bigButton:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: #ffffff;
    -fx-cursor: hand;
}

.nodeTextInput{
    -fx-background-color: rgba(0,0,0,.4);
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}


/*labels*/
.blackLabel{
    -fx-font-family: "Open Sans Bold";
    -fx-font-size: 30px;
    -fx-text-fill: black;
}

.title{
    -fx-font-family: "Palatino";
    -fx-font-size: 36px;
    -fx-text-fill: white;
}
.bigtitle{
    -fx-font-family: "Palatino";
    -fx-font-size: 64px;
    -fx-text-fill: white;
}


.subtitle{
    -fx-font-family: "Palatino";
    -fx-font-size: 18pt;
    -fx-text-fill: white;
}

.controlLabel{
    -fx-font-family: "Open Sans Bold";
    -fx-font-size: 24pt;
}

/*tab-panes*/
.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overridden as 5 2 0 0 */
    -fx-background-radius:  1em;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}
.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #dbdbdb;
}
.tab-pane .tab:selected
{
    -fx-background-color: #ffffff;
}
.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #74B3CE;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}
.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #74B3CE;
}

.choice-box .context-menu{
    -fx-background-color: white;
}
.choice-box .menu-item > .label{
    -fx-text-fill: black;
}
.choice-box .menu-item:focused > .label{
    -fx-text-fill: white;
}
.choice-box .menu-item:focused{
    -fx-background-color: blue;
}

/*tableview*/
.table-view, .table-view *{
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: #012d5a;
    -fx-font-family:"Open Sans Bold";
    -fx-text-size:22px;
    -fx-text-alignment: center;

}
.table-view .column-header .label{
    -fx-text-fill: white;
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
}

.table-view .cell{
    -fx-cell-size: 35;
}

.table-row-cell{
    -fx-font-family:"Open Sans Bold";
    -fx-text-size:22px;
    -fx-text-alignment: center;
    -fx-background-color: #fff;
}

.table-row-cell:odd{
    -fx-background-color:#fff;
}
.table-row-cell:selected {
    -fx-background-color: #012d5a;
    -fx-text-fill:white;
}

.force-white{
    -jfx-unfocus-color: blue;
    -fx-prompt-text-fill: blueviolet;
    -fx-text-fill: red;
}

.hoverRoom:hover{
    -fx-opacity:0.6;
    -fx-cursor:hand;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}


/*!* scroll bar starts here *!
!* The increment and decrement button CSS class of scrollbar *!
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 2em;

}

!* The main scrollbar **track** CSS class  *!
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color:derive( #6622CC,80%);

    -fx-background-radius: 2em;
    -fx-border-radius:2em;
}

!* The main scrollbar **thumb** CSS class which we drag every time (movable) *!
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #6622CC,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}*/


.jfx-time-picker, .jfx-date-picker{
    -jfx-default-color: #012d5a;
}
.jfx-date-picker > .jfx-text-field, .jfx-time-picker > .jfx-text-field{
    -fx-text-fill: white;
    -fx-font-family: "Open Sans Bold";
    -fx-font-size:18px;
    -fx-text-alignment: center;
    -fx-padding: 0px 0px 0px 20px;
}
.jfx-date-picker > .arrow-button > .jfx-svg-glyph, .jfx-time-picker > .arrow-button > .jfx-svg-glyph{
    -fx-background-color: white;
}

.jfx-text-field.darkInput{
    -fx-background-color: rgba(0,0,0,.4);
    -fx-text-fill: white;
    -fx-font-family: "Open Sans Bold";
    -fx-background-radius:5px;
    -fx-padding: 5px 10px 5px 10px;
    -fx-font-size:18px;
    -fx-text-box-border: transparent;
    -fx-faint-focus-color: transparent;
}

.jfx-text-field.lightInput{
    -fx-background-color: rgba(0,0,0,.01);
    -fx-border-color: rgba(0,0,0,.1);
    -fx-border-radius:5px;
    -fx-text-fill: black;
    -fx-font-family: "Open Sans Bold";
    -fx-background-radius:5px;
    -fx-padding: 5px 10px 5px 10px;
    -fx-font-size:18px;
    -fx-text-box-border: transparent;
    -fx-faint-focus-color: transparent;
}

.jfx-text-area.lightInput{
    -fx-background-color: rgba(0,0,0,.01);
    -fx-border-color: rgba(0,0,0,.1);
    -fx-border-radius:5px;
    -fx-text-fill: black;
    -fx-font-family: "Open Sans Bold";
    -fx-background-radius:5px;
    -fx-padding: 5px 10px 5px 10px;
    -fx-font-size:18px;
    -fx-text-box-border: transparent;
    -fx-faint-focus-color: transparent;
}

.text-field .input-line
{
    -fx-background-color: transparent;
}

.requestBox{
     -fx-font-size:36px;
 }

.requestBox.small{
    -fx-font-size:24px;
}

.jfx-radio-button{
    -jfx-selected-color: #ffffff;
    -jfx-unselected-color: #ffffff;
    -fx-font-size: 16pt;
    -fx-text-fill: white;
}
